<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Welcome</title>
</head>

<article>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
           {% endif %}
        {% endwith %}
    </article>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>

