{% extends "base.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
    <p>
        This is a demo app for the course  
        <em>Getting Started with Flask</em>
    </p>

    <div>
        <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                {{ card.question}}
                </a>
            </li>
            {% endfor %}
        </ul>
        

    </div>
    <img src="/static/flask_logo.png">
{% endblock %}